# Keep the entries sorted to reduce the risk for a merge conflict
*.3lib
*.3vbucket
*.4
*.[ao]
*.dirstamp
*.exe
*.l[ao]
*.obj
*~
.deps/
.libs/
/INSTALL
/Makefile
/Makefile.in
/a.out*
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/mkinstalldirs
/config/plugin.ac
/configure
/docs/doxy
/libtool
/libvbucket.dll
/libvbucket.exp
/libvbucket.lib
/libvbucket.pc
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/version.m4
/regression
/stamp-h1
/testapp
/vc100.pdb
/vbucketkeygen
/vbuckettool
