# Keep the entries sorted to reduce the risk for a merge conflict
/*.exe*
/*.exp
/*.ilk
/*.pdb
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/Testing/
/cJSON.dll*
/cJSON.lib
/cmake_install.cmake
/core*
/install_manifest.txt
/libcJSON.*dylib
/libcJSON.so*
/libvbucket.*dylib
/libvbucket.so*
/libvbucket_regression
/libvbucket_testapp
/libvbucket_testketama
/vbucket.dll*
/vbucket.lib
/vbucketkeygen
/vbuckettool
/libvbucket_cjson_test
