# Keep the entries sorted to reduce the risk for a merge conflict
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/Testing/
/cmake_install.cmake
/core*
/install_manifest.txt
/libvbucket.so*
/libvbucket.*dylib
/libvbucket_regression
/libvbucket_testapp
/libvbucket_testketama
/libcJSON.so*
/libcJSON.*dylib
/vbucketkeygen
/vbuckettool
