Source: libvbucket
Priority: optional
Maintainer: Couchbase SDK Team <support@couchbase.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://www.couchbase.com
Vcs-Browser: https://github.com/couchbase/libvbucket
Vcs-Git: git://github.com/couchbase/libvbucket.git

Package: libvbucket-dev
Section: libdevel
Architecture: any
Depends: libvbucket1 (= ${binary:Version}), ${misc:Depends}
Description: vbucket library for Couchbase, development files
 libvbucket is a library providing vbucket distribution layer for Couchbase
 clients.
 .
 This package provides files needed for development with libvucket.

Package: libvbucket1-dbg
Section: debug
Architecture: any
Priority: extra
Depends: libvbucket1 (= ${binary:Version}), ${misc:Depends}
Description: vbucket library for Couchbase, debug symbols
 libvbucket is a library providing vbucket distribution layer for Couchbase
 clients.
 .
 This package provides debugging symbols.

Package: libvbucket1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: vbucket library for Couchbase
 libvbucket is a library providing vbucket distribution layer for Couchbase
 clients.
 .
 This package provides vbucket support for Couchbase.
